
<html>
<head>
  <title>Get PGN with linebreaks. Bibimnews Tools</title>
  <%-include('common-header') %>
  <link rel="stylesheet" href="/css/enter.css"/>
  <script type="text/javascript">

    function doRun(){
        $('#dochange').click(function(){
            let before = getBefore();
            //console.log('before=' + before);
            let after = doTransform(before);
            setAfter(after);
            setAfterLi(after);
        });
    }

    function getBefore(){
        return $('#before').val();
    }    

    function doTransform(before){
        let after = [];
        
        let bracketStart = 0;
        let bracketEnd = 0;        

        //괄호 안 내용 없애기
        for(let i = 0 ; i < before.length ; i++){
            if(before.charAt(i) == '('){
                after.push(before.slice(bracketEnd, i).split());
                bracketStart = i;
            }
            if(before.charAt(i) == ')'){
                bracketEnd = i + 1;
            }
        }
        after.push(before.slice(bracketEnd, before.length).split());

        //let reBracket = /[(].*(?:(?![(]))[)]/g;
        //let afterstr = before.replaceAll(reBracket, '');

        let afterstr = after.join('');
        after = [];

        let re = /[0-9]+[.]+[ ]/g;
        afterstr = afterstr.replaceAll(re, '\n'+'$&');
 
        return afterstr;
    }

    function setAfter(after){
        $('#after').val(after);
        $('#after').select();
        document.execCommand('copy');
    }

    function setAfterLi(after){
        const arr = after.split('\n');
        const arrli = arr.map(item => !item.startsWith('[') && item != '' && item != null ? '<li>' + item + '</li>' : item);

        const afterli = arrli.join('\n');
        $('#afterli').val(afterli);

        $('#afterli').select();
        document.execCommand('copy');
    }

    $(document).ready(function(){
        doRun();

        $('#dochange').button({ 
            icons: { 
            primary: "ui-icon-triangle-1-e" }
        });

        $('#before').attr({'placeholder':'Copy PGN from chess.com or lichess.org and paste it here.'});
    });
    </script>
</head>
<body>
    <%-include('menu') %>
    <canvas id="canvas" style="display:none"></canvas>
    <div class="content">
        <div class="layout">
            <div class="conttitle">
                <h1>Get PGN with linebreaks.</h1>
                <p>This tool helps chess fans. <br/>
                    You can get a PGN of your game via chess.com or lichess.org or other sources.<br/>
                    Make PGN easily readable.
                    This tool makes none-linebreak PGN have linebreaks for each moves.

                 </p>
            </div>
            <div class="contchild">
                
                <h3>1. Insert PGN here and click convert button.</h3>
                <div class="enterinput">
                    
                    <div class="enterinputchild enterinput1">
<!--                         <h2>1. Insert PGN Here</h2>
 -->                        <textarea id="before" name="before" class="ui-widget ui-state-default ui-corner-all ta_input" cols="150" rows="10"></textarea>
                    </div>
                    <div class="enterinputchild enterinput2">
<!--                         <h2>2. Click to convert</h2>
 -->                        <button name="dochange" id="dochange" class="dochange_button ui-state-default ui-widget ui-corner-all"><b>▼convert</b></button> 
                    </div>
                </div>
                <div class="outputwrapper">
                    <h3>2. Get your converted PGN here.</h3>
                    <div class="enteroutput">
                        <div class="enteroutputchild enteroutput1">
                            <h4>Converted PGN with linebreaks</h4>
                            <textarea id="after" name="after"  class="ui-widget ui-state-default ui-corner-all ta_output" cols="150" rows="10"></textarea>
                        </div>
                        <div class="enteroutputchild enteroutput2">
                            <h4>Converted PGN with li tags</h4>
                            <textarea id="afterli" name="afterli"  class="ui-widget ui-state-default ui-corner-all ta_output" cols="150" rows="10"></textarea>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%-include('footer') %>
</body>
</html>



