<footer style="margin-top:20px; background-color: #ececec; width:100%; padding-top: 20px; padding-bottom: 10px;">
    <%-include('update-note') %>
    <p>Blog: <a href="https://www.bibimnews.com">www.bibimnews.com</a></p>
    <p>Contact: finewink@gmail.com</p>
    <p>Copyright © 2021 All rights reserved. Created by Inho Lee.</p>
  </footer>