<!DOCTYPE html>
<html>
<head>
  <title>Get chess board images from PGN. Bibimnews Tools</title>
  <link rel="icon" href="/images/favicon.ico"/>




  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <link rel="stylesheet" href="/css/default.css"/>
  <!-- <link rel="stylesheet" href="/css/button.css"/> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- <script src="/js/jquery.bpopup-0.1.1.min.js"></script> -->
  <style type="text/css">

    .dochange_button{
        /* width:90%; */
        /* height:100px; */
        clear: both;
        padding-left:5%;
        padding-right:5%;
        padding-top:20px;
        padding-bottom:20px;        
    }
    .textarea_gibo{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        clear:both;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){

      CreateLoadingImage('/images/Bars-1s-400px.gif');
      $('#create').click(function(){
        generate();
      });

      $('#create').button({ 
        icons: { 
          primary: "ui-icon-triangle-1-e" }
      });

      $('#pgn').attr({'placeholder':'Copy PGN from chess.com or lichess.org and paste it here.'});

      $( "input" ).checkboxradio();
    });

    function uuidv4() {
      var h=['0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f'];   
      var k=['x','x','x','x','x','x','x','x','-','x','x','x','x','-','4','x','x','x','-','y','x','x','x','-','x','x','x','x','x','x','x','x','x','x','x','x'];   
      var u='',i=0,rb=Math.random()*0xffffffff|0;   
      while(i++<36) {     
        var c=k[i-1],r=rb&0xf,v=c=='x'?r:(r&0x3|0x8);     
        u+=(c=='-'||c=='4')?c:h[v];rb=i%8==0?Math.random()*0xffffffff|0:rb>>4   
      }   
      return u;
    }
  
    function CreateLoadingImage(gif){
      var maskHeight = $(document).height();
      var maskWidth  = window.document.body.clientWidth;
      var mask       ="<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0; padding:auto'><div id='loadingImg'><p id='loadinggif' style='text-align: center; padding: 16px 0 0 0; left: 50%; top: 50%; position: absolute;'><img src='" + gif + "' /></p></div></div>";
      
      $('body').append(mask);

      $('#mask').css({
        'width' : maskWidth,
        'height': maskHeight,
        'opacity' :'0.3',
        'z-index':9000
      });

      var width = 400;
      var height = 400;

      var top = ( $(window).height() - height ) / 2 + $(window).scrollTop();
      var left = ( $(window).width() - width ) / 2 + $(window).scrollLeft();

      $('#loadinggif').css({
        'top':top,
        'left':left,
        'z-index':8000
      });
    }

    function validate(pgn){
      if(pgn == ''){
        alert('insert PGN first.');
        return false;
      }

      return true;
    }

    function generate(){
      var pgn = $('#pgn').val().trim();
      if(!validate(pgn)){
        return;
      }
      var filename = uuidv4();

      var fileSize = $(":input:radio[name=size]:checked").val();
      var ori = $(":input:radio[name=orientation]:checked").val();

      $.ajax({
        url:'/image/download',
        type: 'get',
        data: {pgn:encodeURIComponent(pgn).trim(), uid:filename, size:fileSize, orientation:ori},
        xhrFields: { //response 데이터를 바이너리로 처리한다.
          responseType: 'blob'
        },
        beforeSend: function() {
          LoadingWithMask();
        },
        complete: function(){
          closeLoadingWithMask();
        },

        success: function(data){
          closeLoadingWithMask();
          var blob = new Blob([data]);

          if (navigator.msSaveBlob) {
            return navigator.msSaveBlob(blob, filename + '.zip');
          }
          else {
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = filename + '.zip';
            link.click();
          }

          $('#dialog-message').dialog({
            modal:true,
            buttons: {
              Ok: function() {
                $( this ).dialog( "close" );
              }
            }
          });
        },
        fail: function(){
          closeLoadingWithMask();
          alert('An error occured. request failed.');
        },
        always: function(){
          closeLoadingWithMask();
        }
    });
    }
    function setResult(){
      $('#result').innerHTML = '이미 생성 완료되었습니다.';
    }
    function isIE() {
      return (navigator.appName === 'Netscape' && navigator.userAgent.search('Trident') !== -1) ||
        navigator.userAgent.toLowerCase().indexOf("msie") !== -1;
    }

    function LoadingWithMask() {
      //화면의 높이와 너비를 구합니다.
      var maskHeight = $(document).height();
      var maskWidth  = window.document.body.clientWidth;
      
      //화면에 출력할 마스크를 설정해줍니다.
      if($("#mask").length != 0){
        //마스크 표시
        $('#mask').show();
      }
      else{
        CreateLoadingImage();
        $('#mask').show();
      }      
    }
    
    function closeLoadingWithMask() {
      $('#mask').hide();
      //$('#mask').remove(); 
    }



  </script>
</head>
<body>
  <header></header>
  <%-include('menu') %>
  <canvas id="canvas" style="display:none"></canvas>
  <section>
    <h1>Get chess board images from PGN.</h1>
    <h2>1. Insert PGN here</h2>
    <p>Copy the PGN text from chess.com or lichess.org or other sources.</p>
    <p>&nbsp;</p>
    <!-- 1. e4 e5 2. Bc4 Nc6 3. Nf3 h6 4. d3 Bc5 5. O-O Nf6 6. Nc3 O-O 7. Be3 Bxe3 8. fxe3 d6 9. d4 Bg4 10. h3 Bh5 11. g4 Nxg4 12. hxg4 Bxg4 13. Qe1 Kh8 14. Nh2 Bh3 15. Rf3 Qg5+ 16. Rg3 Qh5 17. Be2 Qh4 18. Nf3 Qh5 19. Kf2 f5 20. Nxe5 Qh4 21. Ng6+ Kh7 22. Nxh4 fxe4+ 23. Kg1 g5 24. Rxh3 gxh4 25. Rxh4 Rg8+ 26. Rg4 Rxg4+ 27. Bxg4 Rg8 28. Qh4 Nd8 29. Kf2 Rf8+ 30. Ke2 Nf7 31. Rf1 Kg7 32. Rf6 1-0 -->
    <textarea id="pgn" name="pgn" class="ui-widget ui-state-default ui-corner-all textarea_gibo" rows="10"></textarea>
    <p>If you have a problem with downloading, please try with the PGN without comment.<br/> eg. 1. e4 e5 2. Bc4 Nc6 3. Nf3 h6 4. d3 Bc5 5. O-O Nf6 6. Nc3 O-O 7. Be3 Bxe3 8. fxe3 d6 9. d4 Bg4 10. h3 Bh5 11. g4 Nxg4 12. hxg4 Bxg4 13. Qe1 Kh8 14. Nh2 Bh3 15. Rf3 Qg5+ 16. Rg3 Qh5 17. Be2 Qh4 18. Nf3 Qh5 19. Kf2 f5 20. Nxe5 Qh4 21. Ng6+ Kh7 22. Nxh4 fxe4+ 23. Kg1 g5 24. Rxh3 gxh4 25. Rxh4 Rg8+ 26. Rg4 Rxg4+ 27. Bxg4 Rg8 28. Qh4 Nd8 29. Kf2 Rf8+ 30. Ke2 Nf7 31. Rf1 Kg7 32. Rf6 1-0</p>
    <p>&nbsp;</p>
    <div class="widget">
      <h2>2. Select Image Size</h2>    
      <fieldset>
        <!-- <legend>Image size</legend> -->
        <label class="radiolabel" for="size-360">360px</label>
        <input class="imageradio" type="radio" name="size" id="size-360" value="360" checked>
        <label class="radiolabel" for="size-480">480px</label>
        <input class="imageradio" type="radio" name="size" id="size-480" value="480">
        <label class="radiolabel" for="size-600">600px</label>
        <input class="imageradio" type="radio" name="size" id="size-600" value="600">
        <label class="radiolabel" for="size-720">720px</label>
        <input class="imageradio" type="radio" name="size" id="size-720" value="720">
        <label class="radiolabel" for="size-1024">1024px</label>
        <input class="imageradio" type="radio" name="size" id="size-1024" value="1024">
      </fieldset>
    </div>
    <p>&nbsp;</p>
    <div class="widget">
      <h2>3. Select Orientation</h2>    
      <fieldset>
        <!-- <legend>Image size</legend> -->
        <label class="radiolabel" for="ori-white">WHITE</label>
        <input class="imageradio" type="radio" name="orientation" id="ori-white" value="0" checked>
        <label class="radiolabel" for="ori-black">BLACK</label>
        <input class="imageradio" type="radio" name="orientation" id="ori-black" value="1">
      </fieldset>
    </div>
    <p>&nbsp;</p>
    <div class="wrap">
      <button id="create" name="create" class="dochange_button ui-state-default ui-widget ui-corner-all">Get images with ZIP</button>
    </div>
    <span id="result"></span>
    <iframe id="hiddenframe" style="display: none;"></iframe>
    <div id="dialog-message" title="Download complete" style="display:none;">
      <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        Your files have downloaded successfully into the Downloads folder.
      </p>
      <p>
        
      </p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div id="note" style="text-align:left; margin-left:10%;">
      <h4><b>Update Note.</b></h4><h5><b>2021.02.15 Launching.</b></h5><ul><li>Download images from a PGN.</li><li>There's a layout issue on the menu&nbsp;<span style="text-align: center;">PGN with linebreaks</span></li></ul>
    </div>
  </section>
  <footer class="bg-white">
    <p>Copyright © 2021 All rights reserved Inho Lee.</p>
  </footer>
</body>
</html>