<nav>
    <div class="bibim">
        <div class="navlogo">
            <a href="/"><img src="/images/logo_transparent.png" width="100px" height="100px"/></a>
        </div>
        <div class="navmenu">
            <div class="navmenulayout"></div>
            <ul class="navmenulist">
                <li class="navmenuitem"><a href="/">Home</a></li>
                <li class="navmenuitem"><a href="/enter">PGN with linebreaks</a></li>    
                <li class="navmenuitem"><a href="/image">Board images with PGN</a></li>    
            </ul>
            <div class="navmenulayout"></div>
        </div>
    </div>
    <div class="navspace"></div>
</nav>