<div id="note" style="margin:10px auto; width:60%; text-align:left;  border-radius: 10px; background-color: #a7a7a7; padding:20px; color:#ececec;">
    <h4><b>Update Note.</b></h4><h5><b>2021.02.15 Launching.</b></h5><ul><li>Download images from a PGN.</li><li>Make PGNs have linebreaks.</li></ul>
</div>